:root {
    --black: #020618;
    --blue: #2A98FF;
    --dark-gray: #2C3142;
    --gray: #6A7282;
    --green: #00E279;
    --orange: #FF6A00;
    --red: #FF2A3D;
    --white: #F8FAFC;
    --yellow: #F8E509;
}