:root {
    --black: #020618;
    --blue: #2a98ff;
    --dark-gray: #2c3142;
    --gray: #6a7282;
    --green: #00e279;
    --orange: #ff8000;
    --red: #ff2a3d;
    --white: #f8fafc;
    --yellow: #f8e509;
    --transparent: #00000000;
}
