@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --padding-desktop: 64px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    background-color: var(--black);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    padding-inline: var(--padding-desktop);
    background: maroon;
    flex: 1;
}

hr {
    width: 40px;
    height: 4px;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--white);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    color: var(--white);
}

a,
p,
.label {
    font-family:
        'Geist',
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    overflow-wrap: break-word;
}

.data-price,
.data-tag {
    font-family: 'Geist Mono', monospace;
}

.data-price {
    font-size: 1.25rem;
    font-weight: 600;
}

.data-tag {
    font-size: 0.75rem;
    font-weight: 500;
}

.label {
    font-size: 0.75rem;
    font-weight: 500;
}

p {
    text-wrap: pretty;
    color: var(--white);
}

h1 {
    font-size: 3rem;
    color: var(--orange);
    font-weight: 500;
    text-wrap: balance;
    overflow-wrap: break-word;
}

h2 {
    font-size: 1.75rem;
    color: var(--white);
    font-weight: 500;
    text-wrap: balance;
}

h3 {
    font-size: 1.5rem;
    color: var(--white);
    font-weight: 500;
    text-wrap: balance;
}

h4 {
    font-size: 1.25rem;
    color: var(--white);
    font-weight: 500;
    text-wrap: balance;
}

h1,
h2,
h3,
h4 {
    font-family:
        Tomorrow,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}
