header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    width: 100%;
    height: fit-content;
    padding: calc(var(--padding-desktop) / 2) var(--padding-desktop) calc(var(--padding-desktop) / 2) var(--padding-desktop);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, var(--black) 60%, transparent 100%);
}