#product-types {
    display: grid;
    gap: 10px;
    align-self: stretch;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    background-color: red;
    width: 100%;
    margin-top: calc(var(--padding-desktop) / 2);
}

.img-thumbnail {
    position: relative;
    display: flex;
    height: auto;
    padding: calc(var(--padding-desktop) / 4);
    flex-direction: column;
    align-items: flex-start;
    justify-self: stretch;
    /* TODO: Handle each product type's backgrounds effectively. */
    /* TODO: Fix background image layout and size. */
    background:
        linear-gradient(180deg, #020618bb 17.5%, transparent 50%),
        url('/images/homepage/custom-keyboard-collection-image.webp');
    h4 {
        align-self: stretch;
        text-align: left;
        text-shadow: 0 0 8px var(--black);
    }
}

.corner {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: var(--orange);
}

.tl {
    top: -0.5px;
    left: -0.5px;
}

.tr {
    top: -0.5px;
    right: -0.5px;
}

.bl {
    bottom: -0.5px;
    left: -0.5px;
}

.br {
    bottom: -0.5px;
    right: -0.5px;
}
