<%- include('../partials/header.ejs') %>

<body>
  <main style="
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        ">
    <h1>500: INTERNAL SERVER ERROR</h1>
    <p>Something went wrong with server…</p>
  </main>
</body>
<%- include('../partials/footer.ejs') %>