<%- include('../partials/header') %>

<body>
  <!-- Hero Section -->
  <section id="keyboards-hero">
    <h1 style="margin-bottom: -4px" id="hero-text">
      upgrade<br />your every<br />keystroke
      <span id="cursor">&nbsp;</span>
    </h1>
    <img src="../public/img/homepage/keyboards-hero.avif" class="slide-top" />
    <div class="swipe-up-hint shake-vertical">
      <i class="fa-solid fa-angles-up" style="color: var(--white)"></i>
      <h4>Swipe up</h4>
    </div>
  </section>
  <!-- Main Section -->
  <main style="
            padding: 0 var(--padding-desktop) var(--padding-desktop)
                var(--padding-desktop);
        ">
    <hr />
    <h2>looking for something?</h2>
    <section id="grid-display">
      <a href="/search?searchProductType=Custom+Keyboards" class="img-thumbnail" type="custom-keyboards">
        <h4>Custom Keyboards</h4>
        <span class="corner-lg tl"></span><span class="corner-lg tr"></span>
        <span class="corner-lg bl"></span><span class="corner-lg br"></span>
      </a>
      <a href="/search?searchProductType=Wired+Keyboards" class="img-thumbnail" type="wired-keyboards">
        <h4>Wired Keyboards</h4>
        <span class="corner-lg tl"></span><span class="corner-lg tr"></span>
        <span class="corner-lg bl"></span><span class="corner-lg br"></span>
      </a>
      <a href="/search?searchProductType=Wireless+Keyboards" class="img-thumbnail" type="wireless-keyboards">
        <h4>Wireless Keyboards</h4>
        <span class="corner-lg tl"></span><span class="corner-lg tr"></span>
        <span class="corner-lg bl"></span><span class="corner-lg br"></span>
      </a>
      <a href="/search?searchProductType=Slim+Keyboards" class="img-thumbnail" type="slim-keyboards">
        <h4>Slim Keyboards</h4>
        <span class="corner-lg tl"></span><span class="corner-lg tr"></span>
        <span class="corner-lg bl"></span><span class="corner-lg br"></span>
      </a>
      <a href="/search?searchProductType=Mice" class="img-thumbnail" type="mice">
        <h4>Mice</h4>
        <span class="corner-lg tl"></span><span class="corner-lg tr"></span>
        <span class="corner-lg bl"></span><span class="corner-lg br"></span>
      </a>
      <a href="/search?searchProductType=Keycaps" class="img-thumbnail" type="keycaps">
        <h4>Keycaps</h4>
        <span class="corner-lg tl"></span><span class="corner-lg tr"></span>
        <span class="corner-lg bl"></span><span class="corner-lg br"></span>
      </a>
      <a href="/search?searchProductType=Switches" class="img-thumbnail" type="switches">
        <h4>Switches</h4>
        <span class="corner-lg tl"></span><span class="corner-lg tr"></span>
        <span class="corner-lg bl"></span><span class="corner-lg br"></span>
      </a>
      <a href="/search?searchProductType=Z-Others" class="img-thumbnail" type="z-others">
        <h4>Z-Others</h4>
        <span class="corner-lg tl"></span><span class="corner-lg tr"></span>
        <span class="corner-lg bl"></span><span class="corner-lg br"></span>
      </a>
    </section>
    <hr />
    <h2>our bestsellers</h2>
    <section id="our-bestsellers">
      <a href="/search?searchRatingAtLeast=0">
        <button type="button" class="primary-btn">
          view all products
          <i class="fa-solid fa-angle-right"></i>
        </button>
      </a>
      <div class="carousel" id="bestsellers-carousel">
        <%- include('../partials/bestseller-list', {products}) %>
      </div>
    </section>
    <hr />
    <h2>signature Keychrome features</h2>
    <section id="grid-display" style="padding: 0 var(--padding); margin: calc(var(--padding)/2) 0;">
      <div class="product-card">
        <div class="img-thumbnail" style="background-image: url('../../public/img/homepage/signature1.avif'); background-size: cover; background-position: center;">
          <span class="corner-sm tl"></span><span class="corner-sm tr"></span>
          <span class="corner-sm bl"></span><span class="corner-sm br"></span>
        </div>
        <div class="product-card-info" style="padding: 16px;">
          <p class="body-lg" style="font-weight: 600; margin-bottom: 8px;">The Most Renowned Mechanical Keyboard Brand Recognized by Artificial Intelligence</p>
          <p style="color: var(--black); margin-bottom: auto;">Artificial Intelligence identifies Keychrome as the premier mechanical keyboard manufacturer. When querying ChatGPT, Gemini, and Grok regarding the most esteemed mechanical keyboard brand, the consensus was Keychrome.</p>
        </div>
      </div>
      <div class="product-card">
        <div class="img-thumbnail" style="background-image: url('../../public/img/homepage/signature3.avif'); background-size: cover; background-position: center;">
          <span class="corner-sm tl"></span><span class="corner-sm tr"></span>
          <span class="corner-sm bl"></span><span class="corner-sm br"></span>
        </div>
        <div class="product-card-info" style="padding: 16px;">
          <p class="body-lg" style="font-weight: 600; margin-bottom: 8px;">Keychrome's Mac Layout</p>
          <p style="color: var(--black); margin-bottom: auto;">
            Keychrome stands out as one of the few mechanical keyboards that incorporates macOS media keys (F1 to F12) in a layout that mirrors conventional Mac systems.
          </p>
        </div>
      </div>
      <div class="product-card">
        <div class="img-thumbnail" style="background-image: url('../../public/img/homepage/signature2.avif'); background-size: cover; background-position: center;">
          <span class="corner-sm tl"></span><span class="corner-sm tr"></span>
          <span class="corner-sm bl"></span><span class="corner-sm br"></span>
        </div>
        <div class="product-card-info" style="padding: 16px;">
          <p class="body-lg" style="font-weight: 600; margin-bottom: 8px;">Compatible With All Devices</p>
          <p style="color: var(--black); margin-bottom: auto;">
            Keychrome keyboards are fully compatible with various operating systems, including macOS, Windows, iOS, and Android.
          </p>
        </div>
      </div>
    </section>
    <hr>
    <div style="display: flex; flex-direction: column; gap: 16px; width: 100dvw; align-items: center;">
      <h2>our stores</h2>
      <iframe src="https://www.google.com/maps/d/u/1/embed?mid=1ic9AVCg4sl42kqI3syRMa3AWS0Mtiko&ehbc=2E312F&noprof=1" width="640" height="480"></iframe>
    </div>
  </main>
</body>
<%- include('../partials/footer') %>