<%- include('../partials/header') %>
<!-- Header partial: nav, stylesheets, fonts, scripts-->

  <body>
    <main
      style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center; padding-top: 10px;">

      <hgroup>
        <h1 style="margin-top: 32px; margin-bottom: 32px; color: var(--orange)">Product Management</h1>
        <h2>Welcome Back</h2>
        <% if (success) { %>
          <h4 align="center" style="color: var(--green); margin-top: 6vh; margin-bottom: 1.5vh;"><i class="fa-solid fa-check"></i>
           <%= success %>
          </h4>
          <% if (successSku) { %>
            <a align="center" style="display: block;" href="/product/<%= successSku %>">
              <button type="button" class="primary-btn" style="width: fit-content;">View Product</button>
            </a>
          <% } %>
        <% } %>
      </hgroup>

      <!-- SKU input: used to pass SKU to add, modify, and delete routes via query parameter -->
      <div class="label-input-styling" id="top-sku">
        <label for="sku">SKU Number
          <input type="text" id="sku" name="sku" value="" title="Enter SKU Number" placeholder="Enter SKU Number">
        </label>
      </div>

      <!-- Management actions: navigate to respective page with SKU as query param -->
      <section id="manage-buttons">
        <button class="secondary-btn"
          onclick="window.location.href='/manage/add?sku=' + document.getElementById('sku').value">Add product</button>
        <button class="secondary-btn"
          onclick="window.location.href='/manage/modify?sku=' + document.getElementById('sku').value">Modify
          product</button>
        <button class="secondary-btn"
          onclick="window.location.href='/manage/delete?sku=' + document.getElementById('sku').value">Delete
          product</button>
      </section>

    </main>
  </body>

<!-- Footer partial: footer links -->
<%- include('../partials/footer') %>