<%- include('../partials/header') %>
<body>
    <!-- Hero Section -->
    <section id="keyboards-hero">
        <h1>upgrade<br />your every<br />keystroke</h1>
        <img src="/images/homepage/keyboards-hero.png" class="slide-top" />
        <div class="swipe-up-hint shake-vertical">
            <i class="fa-solid fa-angles-up" style="color: var(--white)"></i>
            <h4>Swipe up</h4>
        </div>
    </section>
    <!-- Main Section -->
    <main
        style="
            padding: 0 var(--padding-desktop) var(--padding-desktop)
                var(--padding-desktop);
        "
    >
        <hr />
        <h2>looking for something?</h2>
        <!-- TODO: When clicked, query the search system as that product type. -->
        <section id="product-types">
            <div class="img-thumbnail">
                <h4>custom keyboards</h4>
                <span class="corner tl"></span><span class="corner tr"></span>
                <span class="corner bl"></span><span class="corner br"></span>
            </div>
            <div class="img-thumbnail">
                <h4>custom keyboards</h4>
                <span class="corner tl"></span><span class="corner tr"></span>
                <span class="corner bl"></span><span class="corner br"></span>
            </div>
            <div class="img-thumbnail">
                <h4>custom keyboards</h4>
                <span class="corner tl"></span><span class="corner tr"></span>
                <span class="corner bl"></span><span class="corner br"></span>
            </div>
            <div class="img-thumbnail">
                <h4>custom keyboards</h4>
                <span class="corner tl"></span><span class="corner tr"></span>
                <span class="corner bl"></span><span class="corner br"></span>
            </div>
            <div class="img-thumbnail">
                <h4>custom keyboards</h4>
                <span class="corner tl"></span><span class="corner tr"></span>
                <span class="corner bl"></span><span class="corner br"></span>
            </div>
            <div class="img-thumbnail">
                <h4>custom keyboards</h4>
                <span class="corner tl"></span><span class="corner tr"></span>
                <span class="corner bl"></span><span class="corner br"></span>
            </div>
            <div class="img-thumbnail">
                <h4>custom keyboards</h4>
                <span class="corner tl"></span><span class="corner tr"></span>
                <span class="corner bl"></span><span class="corner br"></span>
            </div>
            <div class="img-thumbnail">
                <h4>custom keyboards</h4>
                <span class="corner tl"></span><span class="corner tr"></span>
                <span class="corner bl"></span><span class="corner br"></span>
            </div>
        </section>
    </main>
</body>
<%- include('../partials/footer') %>
