<%- include('../partials/header') %>

<body style="background: var(--black)">
    <!-- Hero Section -->
    <section id="keyboards-hero">
        <h1 style="margin-bottom: -4px">
            upgrade<br />your every<br />keystroke
        </h1>
        <img src="/images/homepage/keyboards-hero.png" class="slide-top" />
        <div class="swipe-up-hint shake-vertical">
            <i class="fa-solid fa-angles-up" style="color: var(--white)"></i>
            <h4>Swipe up</h4>
        </div>
    </section>
    <!-- Main Section -->
    <main
        style="
            padding: 0 var(--padding-desktop) var(--padding-desktop)
                var(--padding-desktop);
        "
    >
        <hr />
        <h2>looking for something?</h2>
        <!-- TODO: When clicked, query the search system as that product type (The headers are the same as `Type` in SQL). -->
        <!-- FIXME: Change all product types to be the same as `Type` in SQL. -->
        <section id="product-types">
            <a class="img-thumbnail" type="custom-keyboard">
                <h4>Custom Keyboards</h4>
                <span class="corner-lg tl"></span
                ><span class="corner-lg tr"></span>
                <span class="corner-lg bl"></span
                ><span class="corner-lg br"></span>
            </a>
            <a class="img-thumbnail" type="normal-profile">
                <h4>normal profile keyboards</h4>
                <span class="corner-lg tl"></span
                ><span class="corner-lg tr"></span>
                <span class="corner-lg bl"></span
                ><span class="corner-lg br"></span>
            </a>
            <a class="img-thumbnail" type="low-profile">
                <h4>low-profile keyboards</h4>
                <span class="corner-lg tl"></span
                ><span class="corner-lg tr"></span>
                <span class="corner-lg bl"></span
                ><span class="corner-lg br"></span>
            </a>
            <a class="img-thumbnail" type="mice">
                <h4>mice</h4>
                <span class="corner-lg tl"></span
                ><span class="corner-lg tr"></span>
                <span class="corner-lg bl"></span
                ><span class="corner-lg br"></span>
            </a>
            <a class="img-thumbnail" type="iso-keyboard">
                <h4>ISO/JIS Keyboards</h4>
                <span class="corner-lg tl"></span
                ><span class="corner-lg tr"></span>
                <span class="corner-lg bl"></span
                ><span class="corner-lg br"></span>
            </a>
            <a class="img-thumbnail" type="keycaps">
                <h4>all keycaps</h4>
                <span class="corner-lg tl"></span
                ><span class="corner-lg tr"></span>
                <span class="corner-lg bl"></span
                ><span class="corner-lg br"></span>
            </a>
            <a class="img-thumbnail" type="switches">
                <h4>mechanical switches</h4>
                <span class="corner-lg tl"></span
                ><span class="corner-lg tr"></span>
                <span class="corner-lg bl"></span
                ><span class="corner-lg br"></span>
            </a>
            <a class="img-thumbnail" type="palm-rests">
                <h4>palm rests</h4>
                <span class="corner-lg tl"></span
                ><span class="corner-lg tr"></span>
                <span class="corner-lg bl"></span
                ><span class="corner-lg br"></span>
            </a>
        </section>
        <hr />
        <h2>our bestsellers</h2>
        <section id="our-bestsellers">
            <a href="/search">
                <button type="button" class="primary-btn">
                    view all products
                    <i class="fa-solid fa-angle-right"></i></button
            ></a>
            <div class="carousel-container">
                <!-- TODO: Include options for {discount-available, sold-out, new-arrival} (if yes, then display the tags) -->
                <%- include('../partials/product-card') %>
            </div>
        </section>
    </main>
</body>
<div><%- include('../partials/product-card-status') %></div>
<%- include('../partials/footer') %>
