<%- include('../partials/header') %>
<body>
    <main>
        <i
            class="fa-brands fa-facebook-f"
            style="color: white; font-size: 4rem"
        ></i>
        <i
            class="fa-solid fa-question-circle"
            style="color: orange; font-size: 4rem"
        ></i>
        <i
            class="fa-solid fa-circle-notch fa-spin"
            style="color: cyan; font-size: 4rem"
        ></i>
        <h1 style="color: var(--blue)">Header One</h1>
        <h2 style="color: var(--red)">Header Two</h2>
        <hr />
        <h3 style="color: var(--green)">Header Three</h3>
        <h4 style="color: var(--orange)">Header Three</h4>
        <p class="data-tag">Data Tag</p>
        <p class="data-price">Data Price</p>
        <p class="label">Label Text</p>
        <hr />
        <a href="/">Go to Landing Page (Home)</a>
        <br />
        <a href="/search">Go to Search</a>
        <br />
        <a href="/admin-login">Go to Administrator Login</a>
        <br />
        <a href="/members">Go to Team Members</a>
        <hr />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
            vehicula volutpat euismod. Donec convallis consectetur lacus quis
            mattis. Integer scelerisque euismod magna eu vehicula. Proin libero
            lectus, semper vel turpis pretium, aliquam condimentum dui. Proin
            dapibus vestibulum mi, in dapibus nunc ultrices quis. Donec eleifend
            odio ut est facilisis iaculis. Sed tincidunt semper urna, consequat
            rhoncus erat euismod sed. Morbi ultrices id eros id cursus. Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Orci varius
            natoque penatibus et magnis dis parturient montes, nascetur
            ridiculus mus. Nulla id hendrerit elit. Fusce finibus lectus sed
            justo convallis, vel viverra nisl consequat. Pellentesque
            consectetur, nibh sed maximus ultricies, tortor sem rutrum lorem, in
            mollis dui nisi eget dolor. Aliquam ultricies, orci at fringilla
            ultricies, quam neque venenatis arcu, sit amet tempor felis ligula a
            lacus. Phasellus luctus id dolor eu sodales. Phasellus gravida
            convallis aliquam. Pellentesque et aliquam dolor, in ultrices ante.
            Curabitur ullamcorper velit et nisi ornare, vitae rutrum libero
            congue. Pellentesque sit amet lorem eu sem egestas scelerisque.
            Donec iaculis id est eget gravida. Sed nibh augue, rhoncus eget
            venenatis et, sagittis sit amet nunc. In ut pretium arcu. Maecenas
            suscipit odio ac sodales gravida. Fusce nisi nunc, placerat sit amet
            molestie eu, aliquet a dolor. Pellentesque euismod ut elit sit amet
            blandit. Aenean mollis interdum lorem, euismod finibus turpis
            dignissim in. Quisque suscipit, augue vitae viverra tempor, risus
            sem sagittis risus, tristique porttitor urna diam blandit tellus.
            Cras rhoncus libero est, in semper tortor facilisis id. Nulla
            pellentesque massa non tortor rutrum, eu tincidunt mi luctus.
            Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas. In ullamcorper arcu a dictum aliquam. Nam
            nec nulla et nulla blandit hendrerit. Morbi dolor leo, tincidunt sed
            tempor sed, pulvinar in metus. In viverra orci ac bibendum sagittis.
            Phasellus non lectus non odio fermentum aliquet. Sed elementum augue
            eu arcu interdum cursus. Aenean at fermentum ante, in rhoncus augue.
            Vestibulum ut orci sit amet nisi imperdiet viverra. Sed fermentum
            felis sit amet tincidunt fermentum. Aliquam quis elementum tortor.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra,
            per inceptos himenaeos. Fusce finibus cursus felis. Proin a mi
            semper, venenatis lacus at, tincidunt lacus. Nunc tincidunt dolor eu
            diam ultrices imperdiet. Fusce dapibus nec nisl a dapibus. Nam
            fermentum rhoncus fringilla. Maecenas ut euismod leo. Maecenas a
            metus id enim sagittis commodo. Aliquam ligula lorem, cursus vitae
            hendrerit vitae, pulvinar fermentum arcu. Fusce tincidunt et turpis
            in vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et
            ultrices posuere cubilia curae; Integer porta, orci sit amet
            tristique tempor, enim libero suscipit sem, eu faucibus sem tellus
            vel ex. Morbi consectetur dictum euismod. Aenean a mauris sem. Etiam
            nec velit massa. Mauris eu placerat metus. Etiam rhoncus vestibulum
            sem, ac consectetur arcu pharetra sed. Proin euismod dui in urna
            facilisis congue. Donec eu neque nisi. Vestibulum porta faucibus sem
            et sollicitudin. Proin sit amet venenatis mauris, ut congue sapien.
            Integer tempor, diam et suscipit imperdiet, nisi ante interdum eros,
            in consequat odio turpis eget metus. Nulla sit amet arcu fermentum
            odio finibus eleifend pulvinar in sem. Mauris eget varius mauris.
            Mauris porta bibendum lorem, id hendrerit massa. Vestibulum pharetra
            metus in vehicula luctus. Quisque iaculis magna et lectus tempus
            interdum. Nam pretium elit eu eleifend tristique. Nullam in enim in
            eros fermentum convallis. Mauris tincidunt non lectus nec molestie.
            Maecenas non blandit nibh. Praesent vitae justo diam. Donec rutrum,
            metus at venenatis tristique, mauris erat scelerisque ante, eu
            pharetra nisl lectus non velit. Nullam dignissim varius erat, sed
            laoreet tellus eleifend ut. Quisque in consequat sem. Suspendisse
            sollicitudin turpis quis interdum rutrum. Cras lacinia volutpat
            interdum. Etiam vitae diam lorem. Fusce malesuada eros et neque
            lobortis, ac sollicitudin eros porttitor. Nulla finibus sed elit sed
            euismod. Phasellus consectetur odio ipsum, sed faucibus lorem
            lobortis nec. Vivamus tincidunt enim non arcu euismod iaculis. Sed
            suscipit mi sit amet quam dignissim, porttitor pretium lorem
            pulvinar. Integer ligula ipsum, bibendum eget ex nec, tempus
            porttitor mauris. Duis vel fermentum eros, et porttitor dui. Sed
            eleifend quam eget rutrum condimentum. Sed tristique orci eu tellus
            fermentum sollicitudin. Nunc eu justo pellentesque, tempus dui id,
            blandit nisl. Donec rhoncus eros turpis, in feugiat ligula elementum
            non. Maecenas lacinia nibh urna, a hendrerit est tincidunt a.
            Quisque id felis pulvinar, imperdiet tellus id, molestie nibh.
            Vivamus convallis efficitur iaculis. Mauris congue dui eget massa
            volutpat accumsan. In rutrum tincidunt mauris a aliquet. Morbi
            ornare elit est, at condimentum quam tempor sed. Vestibulum quis
            nisl urna. Quisque sed lectus vel ipsum eleifend tempor. Nam sodales
            porttitor malesuada. Mauris semper, tortor ac porta sollicitudin,
            nulla risus tristique ante, eget faucibus nulla felis eget neque.
            Sed viverra quam nec tellus sollicitudin, non congue lacus tempus.
            Integer id arcu orci. Nulla vitae tincidunt sapien, ac fringilla
            nisi. Suspendisse dolor eros, volutpat et elit et, euismod finibus
            dui. Etiam ut orci risus. Fusce vel nisl nisi. In non ligula
            elementum, sollicitudin eros nec, eleifend ante. Nulla ac efficitur
            sapien. Maecenas vestibulum sapien ut sapien luctus egestas. Fusce
            metus dui, imperdiet id porttitor eget, commodo sed est. Mauris ac
            viverra quam, eget semper massa. Aliquam vestibulum neque in magna
            tincidunt bibendum. Ut non diam vel nibh ornare feugiat a id nisl.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
            vehicula volutpat euismod. Donec convallis consectetur lacus quis
            mattis. Integer scelerisque euismod magna eu vehicula. Proin libero
            lectus, semper vel turpis pretium, aliquam condimentum dui. Proin
            dapibus vestibulum mi, in dapibus nunc ultrices quis. Donec eleifend
            odio ut est facilisis iaculis. Sed tincidunt semper urna, consequat
            rhoncus erat euismod sed. Morbi ultrices id eros id cursus. Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Orci varius
            natoque penatibus et magnis dis parturient montes, nascetur
            ridiculus mus. Nulla id hendrerit elit. Fusce finibus lectus sed
            justo convallis, vel viverra nisl consequat. Pellentesque
            consectetur, nibh sed maximus ultricies, tortor sem rutrum lorem, in
            mollis dui nisi eget dolor. Aliquam ultricies, orci at fringilla
            ultricies, quam neque venenatis arcu, sit amet tempor felis ligula a
            lacus. Phasellus luctus id dolor eu sodales. Phasellus gravida
            convallis aliquam. Pellentesque et aliquam dolor, in ultrices ante.
            Curabitur ullamcorper velit et nisi ornare, vitae rutrum libero
            congue. Pellentesque sit amet lorem eu sem egestas scelerisque.
            Donec iaculis id est eget gravida. Sed nibh augue, rhoncus eget
            venenatis et, sagittis sit amet nunc. In ut pretium arcu. Maecenas
            suscipit odio ac sodales gravida. Fusce nisi nunc, placerat sit amet
            molestie eu, aliquet a dolor. Pellentesque euismod ut elit sit amet
            blandit. Aenean mollis interdum lorem, euismod finibus turpis
            dignissim in. Quisque suscipit, augue vitae viverra tempor, risus
            sem sagittis risus, tristique porttitor urna diam blandit tellus.
            Cras rhoncus libero est, in semper tortor facilisis id. Nulla
            pellentesque massa non tortor rutrum, eu tincidunt mi luctus.
            Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas. In ullamcorper arcu a dictum aliquam. Nam
            nec nulla et nulla blandit hendrerit. Morbi dolor leo, tincidunt sed
            tempor sed, pulvinar in metus. In viverra orci ac bibendum sagittis.
            Phasellus non lectus non odio fermentum aliquet. Sed elementum augue
            eu arcu interdum cursus. Aenean at fermentum ante, in rhoncus augue.
            Vestibulum ut orci sit amet nisi imperdiet viverra. Sed fermentum
            felis sit amet tincidunt fermentum. Aliquam quis elementum tortor.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra,
            per inceptos himenaeos. Fusce finibus cursus felis. Proin a mi
            semper, venenatis lacus at, tincidunt lacus. Nunc tincidunt dolor eu
            diam ultrices imperdiet. Fusce dapibus nec nisl a dapibus. Nam
            fermentum rhoncus fringilla. Maecenas ut euismod leo. Maecenas a
            metus id enim sagittis commodo. Aliquam ligula lorem, cursus vitae
            hendrerit vitae, pulvinar fermentum arcu. Fusce tincidunt et turpis
            in vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et
            ultrices posuere cubilia curae; Integer porta, orci sit amet
            tristique tempor, enim libero suscipit sem, eu faucibus sem tellus
            vel ex. Morbi consectetur dictum euismod. Aenean a mauris sem. Etiam
            nec velit massa. Mauris eu placerat metus. Etiam rhoncus vestibulum
            sem, ac consectetur arcu pharetra sed. Proin euismod dui in urna
            facilisis congue. Donec eu neque nisi. Vestibulum porta faucibus sem
            et sollicitudin. Proin sit amet venenatis mauris, ut congue sapien.
            Integer tempor, diam et suscipit imperdiet, nisi ante interdum eros,
            in consequat odio turpis eget metus. Nulla sit amet arcu fermentum
            odio finibus eleifend pulvinar in sem. Mauris eget varius mauris.
            Mauris porta bibendum lorem, id hendrerit massa. Vestibulum pharetra
            metus in vehicula luctus. Quisque iaculis magna et lectus tempus
            interdum. Nam pretium elit eu eleifend tristique. Nullam in enim in
            eros fermentum convallis. Mauris tincidunt non lectus nec molestie.
            Maecenas non blandit nibh. Praesent vitae justo diam. Donec rutrum,
            metus at venenatis tristique, mauris erat scelerisque ante, eu
            pharetra nisl lectus non velit. Nullam dignissim varius erat, sed
            laoreet tellus eleifend ut. Quisque in consequat sem. Suspendisse
            sollicitudin turpis quis interdum rutrum. Cras lacinia volutpat
            interdum. Etiam vitae diam lorem. Fusce malesuada eros et neque
            lobortis, ac sollicitudin eros porttitor. Nulla finibus sed elit sed
            euismod. Phasellus consectetur odio ipsum, sed faucibus lorem
            lobortis nec. Vivamus tincidunt enim non arcu euismod iaculis. Sed
            suscipit mi sit amet quam dignissim, porttitor pretium lorem
            pulvinar. Integer ligula ipsum, bibendum eget ex nec, tempus
            porttitor mauris. Duis vel fermentum eros, et porttitor dui. Sed
            eleifend quam eget rutrum condimentum. Sed tristique orci eu tellus
            fermentum sollicitudin. Nunc eu justo pellentesque, tempus dui id,
            blandit nisl. Donec rhoncus eros turpis, in feugiat ligula elementum
            non. Maecenas lacinia nibh urna, a hendrerit est tincidunt a.
            Quisque id felis pulvinar, imperdiet tellus id, molestie nibh.
            Vivamus convallis efficitur iaculis. Mauris congue dui eget massa
            volutpat accumsan. In rutrum tincidunt mauris a aliquet. Morbi
            ornare elit est, at condimentum quam tempor sed. Vestibulum quis
            nisl urna. Quisque sed lectus vel ipsum eleifend tempor. Nam sodales
            porttitor malesuada. Mauris semper, tortor ac porta sollicitudin,
            nulla risus tristique ante, eget faucibus nulla felis eget neque.
            Sed viverra quam nec tellus sollicitudin, non congue lacus tempus.
            Integer id arcu orci. Nulla vitae tincidunt sapien, ac fringilla
            nisi. Suspendisse dolor eros, volutpat et elit et, euismod finibus
            dui. Etiam ut orci risus. Fusce vel nisl nisi. In non ligula
            elementum, sollicitudin eros nec, eleifend ante. Nulla ac efficitur
            sapien. Maecenas vestibulum sapien ut sapien luctus egestas. Fusce
            metus dui, imperdiet id porttitor eget, commodo sed est. Mauris ac
            viverra quam, eget semper massa. Aliquam vestibulum neque in magna
            tincidunt bibendum. Ut non diam vel nibh ornare feugiat a id nisl.
        </p>
    </main>
</body>
<%- include('../partials/footer') %>
