<%- include('../partials/header') %>
<body>
    <!-- Hero Section -->
    <section id="keyboards-hero">
        <h1>upgrade<br />your every<br />keystroke</h1>
        <img src="/images/homepage/keyboards-hero.png" class="slide-top" />
        <div class="swipe-up-hint shake-vertical">
            <i class="fa-solid fa-angles-up" style="color: var(--white)"></i>
            <h4>Swipe up</h4>
        </div>
    </section>
    <!-- Main Section -->
    <main
        style="
            padding: 0 var(--padding-desktop) var(--padding-desktop)
                var(--padding-desktop);
        "
    >
        <hr />
        <h2>looking for something?</h2>
        <!-- TODO: When clicked, query the search system as that product type. -->
        <section id="product-types">
            <a class="img-thumbnail" type="custom-keyboard">
                <h4>Custom Keyboards</h4>
                <span class="corner-lg tl"></span
                ><span class="corner-lg tr"></span>
                <span class="corner-lg bl"></span
                ><span class="corner-lg br"></span>
            </a>
            <a class="img-thumbnail" type="normal-profile">
                <h4>normal profile keyboards</h4>
                <span class="corner-lg tl"></span
                ><span class="corner-lg tr"></span>
                <span class="corner-lg bl"></span
                ><span class="corner-lg br"></span>
            </a>
            <a class="img-thumbnail" type="low-profile">
                <h4>low-profile keyboards</h4>
                <span class="corner-lg tl"></span
                ><span class="corner-lg tr"></span>
                <span class="corner-lg bl"></span
                ><span class="corner-lg br"></span>
            </a>
            <a class="img-thumbnail" type="mice">
                <h4>mice</h4>
                <span class="corner-lg tl"></span
                ><span class="corner-lg tr"></span>
                <span class="corner-lg bl"></span
                ><span class="corner-lg br"></span>
            </a>
            <a class="img-thumbnail" type="iso-keyboard">
                <h4>ISO/JIS Keyboards</h4>
                <span class="corner-lg tl"></span
                ><span class="corner-lg tr"></span>
                <span class="corner-lg bl"></span
                ><span class="corner-lg br"></span>
            </a>
            <a class="img-thumbnail" type="keycaps">
                <h4>all keycaps</h4>
                <span class="corner-lg tl"></span
                ><span class="corner-lg tr"></span>
                <span class="corner-lg bl"></span
                ><span class="corner-lg br"></span>
            </a>
            <a class="img-thumbnail" type="switches">
                <h4>mechanical switches</h4>
                <span class="corner-lg tl"></span
                ><span class="corner-lg tr"></span>
                <span class="corner-lg bl"></span
                ><span class="corner-lg br"></span>
            </a>
            <a class="img-thumbnail" type="palm-rests">
                <h4>palm rests</h4>
                <span class="corner-lg tl"></span
                ><span class="corner-lg tr"></span>
                <span class="corner-lg bl"></span
                ><span class="corner-lg br"></span>
            </a>
        </section>
        <hr />
        <h2>our bestsellers</h2>
        <section id="our-bestsellers">
            <a href="/search">
                <button type="button" class="primary-btn">
                    view all products
                    <i class="fa-solid fa-angle-right"></i></button
            ></a>
            <div class="product-card">
                <div class="img-thumbnail" type="custom-keyboard">
                    <span class="corner-sm tl"></span
                    ><span class="corner-sm tr"></span>
                    <span class="corner-sm bl"></span
                    ><span class="corner-sm br"></span>
                </div>
                <div class="product-card-info">
                    <p class="body-lg">
                        Keychrome Q6 Ultra 8K Wireless Custom Mechanical
                        Keyboard
                    </p>
                    <div class="ratings-section">
                        <p class="stars">★★★★★</p>
                        <p class="data-tag ratings-count">(67)</p>
                    </div>
                    <p class="data-price onsale">$199.99</p>
                    <a><button type="button" class="secondary"></button></a>
                </div>
            </div>
        </section>
    </main>
</body>
<%- include('../partials/footer') %>
