<nav id="nav-menu">
  <ul>
    <li><a>The nav menu is still WIP, go ahead and develop on other parts</a></li>
    <li><a href="/members">Team Members</a></li>
    <li><a href="/admin-login">Administrator Login</a></li>
  </ul>
</nav>