<div style="margin-top: 32px; text-align: center; padding: 40px 32px 32px 32px; display: flex; flex-direction: column; background: var(--gray-20); align-items: center; justify-content: center;">
  <i class="fa-solid fa-magnifying-glass" style="color: var(--white); font-size: xx-large;"></i>
  <p class="body-lg" style="color: var(--white); margin-top: 24px; margin-bottom: 8px;">No results to show yet.</p>
  <p>Maybe try searching?</p>
</div>