main {
  padding-bottom: 0;
}

#form-layout-admin-login {
  div {
    margin-bottom: 10px;
  }

  button {
    margin-block: 16px;
    padding: 8px;
    grid-row-start: 3;
  }
}

@media screen and (max-width: 768px) {
  #form-layout-admin-login {
    width: 373px;
  }
}

@media screen and (min-width: 768px) {
  #form-layout-admin-login {
    width: 560px;
  }
}

div.label-input-styling > div.indicator {
  border-top: none;
  border-bottom: solid 2px transparent;
  border-left: none;
  border-right: none;
}

div.indicator:has(input:focus) {
  border-top: none;
  border-bottom: solid 2px var(--white);
  border-left: none;
  border-right: none;
}

div.indicator:has(input.admin-login:invalid:not(:placeholder-shown)) {
  border-top: none;
  border-bottom: solid 2px var(--red);
  border-left: none;
  border-right: none;
}

div.indicator:has(input.admin-login:valid:not(:placeholder-shown)) {
  box-sizing: border-box;
  border-top: none;
  border-bottom: solid 2px var(--green);
  border-left: none;
  border-right: none;
}
