:root {
  --black: #020618;
  --blue: #0099ff;
  --gray: #6a7282;
  --pale-gray: #dde0e3;
  --light-gray: #d2d6db;
  --dark-gray: #2c3142;
  --gray-20: #6a728233;
  --gray-30: #6a72824d;
  --gray-40: #6a728266;
  --green: #00e279;
  --orange: #ff7700;
  --red: #ff3f50;
  --white: #f8fafc;
  --yellow: #f8e509;
  --instagram: #dd2a7b;
  --linkedin: #0077b5;
}
