#grid-display {
  display: grid;
  gap: 10px;
  align-self: stretch;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;
  margin-top: calc(var(--padding) / 2);
  padding: 0 var(--padding);
}

section#grid-display {
  a {
    padding: 16px;
  }

  a[type="custom-keyboards"] {
    background:
      linear-gradient(180deg, #020618bb 20%, transparent 50%),
      url("../img/homepage/custom-keyboards.avif") no-repeat;
    background-size:
      auto,
      130% auto;
    background-position: center, center;
  }

  a[type="wireless-keyboards"] {
    background:
      linear-gradient(180deg, #020618bb 20%, transparent 50%),
      url("../img/homepage/wireless-keyboards.avif") no-repeat;
    background-size:
      auto,
      130% auto;
    background-position: center, center;
  }

  a[type="keycaps"] {
    background:
      linear-gradient(180deg, #020618bb 20%, transparent 50%),
      url("../img/homepage/keycaps.avif") no-repeat;
    background-size:
      auto,
      130% auto;
    background-position: center, center;
  }

  a[type="slim-keyboards"] {
    background:
      linear-gradient(180deg, #020618bb 20%, transparent 50%),
      url("../img/homepage/slim-keyboards.avif") no-repeat;
    background-size:
      auto,
      130% auto;
    background-position: center, center;
  }

  a[type="mice"] {
    background:
      linear-gradient(180deg, #020618bb 20%, transparent 50%),
      url("../img/homepage/mice.avif") no-repeat;
    background-size:
      auto,
      130% auto;
    background-position: center, center;
  }

  a[type="wired-keyboards"] {
    background:
      linear-gradient(180deg, #020618bb 20%, transparent 50%),
      url("../img/homepage/wired-keyboards.avif") no-repeat;
    background-size:
      auto,
      130% auto;
    background-position: center, center;
  }

  a[type="z-others"] {
    background:
      linear-gradient(180deg, #020618bb 20%, transparent 50%),
      url("../img/homepage/z-others.avif") no-repeat;
    background-size:
      auto,
      130% auto;
    background-position: center, center;
  }

  a[type="switches"] {
    background:
      linear-gradient(180deg, #020618bb 20%, transparent 50%),
      url("../img/homepage/switches.avif") no-repeat;
    background-size:
      auto,
      130% auto;
    background-position: center, center;
  }

  a[type] {
    transition: background-size 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  a[type]:hover {
    background-size:
      auto,
      135% auto;
  }
}

section#our-bestsellers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 32px;
  margin-top: 1.5rem;
  padding: 0 var(--padding);

  a > div > section {
    background-color: var(--white);
    padding: 8px;
  }
}

.corner-lg {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: var(--orange);
}

.corner-sm {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: var(--white);
}

.tl {
  top: -0.2px;
  left: -0.2px;
}

.tr {
  top: -0.2px;
  right: -0.2px;
}

.bl {
  bottom: -0.2px;
  left: -0.2px;
}

.br {
  bottom: -0.2px;
  right: -0.2px;
}
