#nav-menu {
  padding-top: 16px;
  max-height: 0px;
  opacity: 0;
  overflow-y: hidden;
  transition:
    max-height 0.5s cubic-bezier(0.23, 1, 0.32, 1),
    opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1);

  a {
    text-decoration: none;
  }

  p {
    font-family: monospace;
    font-size: 12px;
  }
}

#nav-menu.open {
  max-height: 120px;
  opacity: 1;
}
