<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/img/general/favicon.ico" />
  <link rel="stylesheet" href="/css/global.css" />
  <link rel="stylesheet" href="/css/hero.css" />
  <link rel="stylesheet" href="/css/colors.css" />
  <link rel="stylesheet" href="/css/homepage.css" />
  <link rel="stylesheet" href="/css/product-card-status.css" />
  <link rel="stylesheet" href="/css/header.css" />
  <link rel="stylesheet" href="/css/footer.css" />
  <link rel="stylesheet" href="/css/search.css" />
  <link rel="stylesheet" href="/css/admin-login.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.3.2/css/flag-icons.min.css" />
  <script src="https://kit.fontawesome.com/6d584c4336.js" crossorigin="anonymous" defer></script>
  <title><%= title %></title>
</head>
<header>
  <!-- TODO: Change to be the proper Menu -->
  <a href="/"><button type="button" class="round-btn">
      <i class="fa-solid fa-bars"></i></button></a>
  <a href="/" style="margin-inline: auto">
    <img src="/img/general/logo-white.svg" style="height: 1rem" />
  </a>
  <a href="/search"><button type="button" class="round-btn">
      <i class="fa-solid fa-magnifying-glass"></i></button></a>
</header>

</html>