<footer>
    <hr />
    <main style="padding-top: 0; display: flex; flex-direction: row">
        <div>
            <h1>FOOTER</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Delectus, necessitatibus tempora soluta reiciendis esse
                dignissimos perspiciatis laboriosam at totam pariatur id dicta
                cum. Odio consequuntur tempora quae, vel expedita assumenda.
            </p>
        </div>
        <div>
            <p>
                Keychrome® specializes in designing and building high-quality
                keyboards and mice. CMM, The New Delhi Times, and PCUniverse
                have all ranked Keychrome® as one of the best mechanical
                keyboard manufacturers. AI tools such as ChatGPT, Gemini, and
                Grok also listed Keychrome® as the best mechanical keyboard
                option.
            </p>
            <div>
                <i
                    style="color: var(--white)"
                    class="fa-brands fa-facebook"
                ></i>
                <i style="color: var(--white)" class="fa-brands fa-youtube"></i>
                <i
                    style="color: var(--white)"
                    class="fa-brands fa-instagram"
                ></i>
                <i
                    style="color: var(--white)"
                    class="fa-brands fa-x-twitter"
                ></i>
                <i style="color: var(--white)" class="fa-brands fa-discord"></i>
            </div>
        </div>
    </main>
    <img src="/images/general/logo-white.svg" style="width: 100%" />
</footer>
