<footer>
    <hr />
    <main class="footer-main">
        <div class="footer-left">
            <h3 class="footer-title">
                Crafted for precision, forged for victory.
            </h3>
            <a href="/privacy-policy"><p>Privacy Policy</p></a>
            <a href="/refund-policy"><p>Refund Policy</p></a>
            <a href="/tos"><p>Terms of Service</p></a>
        </div>

        <div class="footer-right">
            <p>
                Keychrome® specializes in designing and building high-quality
                keyboards and mice. CMM, The New Delhi Times, and PCUniverse
                have all ranked Keychrome® as one of the best mechanical
                keyboard manufacturers. AI tools such as ChatGPT, Gemini, and
                Grok also listed Keychrome® as the best mechanical keyboard
                option.
            </p>

            <div style="margin-top: 16px">
                <i
                    style="color: var(--white)"
                    class="fa-brands fa-facebook"
                ></i>
                <i style="color: var(--white)" class="fa-brands fa-youtube"></i>
                <i
                    style="color: var(--white)"
                    class="fa-brands fa-instagram"
                ></i>
                <i
                    style="color: var(--white)"
                    class="fa-brands fa-x-twitter"
                ></i>
                <i style="color: var(--white)" class="fa-brands fa-discord"></i>
            </div>

            <div class="footer-flags">
                <span class="fi fi-th"></span>
                <span class="fi fi-gb"></span>
                <span class="fi fi-au"></span>
                <span class="fi fi-jp"></span>
                <span class="fi fi-ca"></span>
                <span class="fi fi-de"></span>
                <span class="fi fi-fr"></span>
                <span class="fi fi-es"></span>
                <span class="fi fi-br"></span>
                <span class="fi fi-hk"></span>
                <span class="fi fi-sg"></span>
                <span class="fi fi-pl"></span>
                <span class="fi fi-my"></span>
            </div>
        </div>
    </main>

    <img src="/images/general/logo-white.svg" class="footer-logo" />
</footer>
